/*SudokUber: style.scss*/
/*By: Laura Knutilla*/

$blue: #B8DBFF;
$dark-grey: #E6E6E6;
$light-blue: #E6F3FF;
$break-small: 780px;
$break-phone: 479px;

body {
    background-color: $light-blue;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

header {
    padding: 0 0 0 15px;
    width: 100%
}

#wrapper {
    width: 85%;
    max-width: 1133px;
    margin: 0 auto 0 auto;
}
/*SUDOKU PUZZLE START*/
section.content { 
    width: 100%; 
    float: right;
}

#sudokuTable {
    background-color: $blue;
    padding: 20px;
    border-radius: 5px;
    @media only screen and (max-width: $break-small) {
        margin: 0 auto 0 auto;
    }
}

input {
    -webkit-appearance: none; 
    box-shadow: none;
    outline: none;   
    border: none;
    background-color: white; 
    text-align: center;
    width: 1.6em;
    height: 1.6em;
    font-size: 1.5em;
    @media only screen and (max-width: $break-small) {
        width: 1.2em;
        height: 1.2em;
    }
    @media only screen and (max-width: $break-phone) {
        width: 1em;
        height: 1em;
        font-size: 1em;
    }
}

.grey_block {
    background-color: $dark-grey;
}
/*SUDOKU PUZZLE END*/
/*SIDEBAR START*/
aside.sidebar { 
    background-color: $blue;
    width: 25%; 
    float:left; 
    padding: 0 22px 0 15px;
    margin-right: 20px;
    border-radius: 5px;
    @media only screen and (max-width: $break-small) {
        margin: 0 auto 0 auto;
        width: 85%;
        float: none;
    }
}

#timer {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
}

button {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    outline: none;
}

button:hover{
    background-color: $dark-grey; 
}
/*SIDEBAR END*/
footer {
    position: fixed;
    bottom: 0;
    margin: 10px 10px 0 0;
    padding-left: 10px;
    background-color: $light-blue;
    width: 100%;
}

